h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  padding-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  background-size: cover;
}

.photo {
  width: 320px;
  height: 200px;
  // object-fit: cover;
  background-size: contain;
}

.info {
  font-size: 12px;
  padding: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgb(241, 238, 238)
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
}

.btn-search {
  background-color: greenyellow;
}
