html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
big,
cite,
code,
img,
strike,
strong,
center,
ol,
ul,
li,
form,
label,
article,
header,
menu,
nav,
output,
section,

ul {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
input {
  padding: 0px;
  border: none;
  -webkit-appearance: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
